/* Background with Marble-Like Soft White */
.about-container {
    background:  #ffffff;
    text-align: center;
    padding: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About Description */
.about-description {
    font-size: 22px;
    color:  #ffffff;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}
